langchain
ctransformers
tiktoken
langchain-community
transformers
sentence-transformers
tqdm
accelerate
unidecode
langchain_openai
pydantic==2.9.2
dotenv
fastapi
uvicorn
python-multipart
openai
PyMuPDF
faiss-cpu
rank_bm25