<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>10 Minute School | RAG System</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/static/images/10_Minute_School_Logo.svg.png" alt="10 Min School Logo" class="logo">
            <h1>Multilingual RAG System</h1>
            <p>Retrieve answers from Bangla & English documents using AI!</p>
        </header>
        <main>
            <div class="card-row">
                <a href="/admin" class="card">
                    <i class="fa fa-database"></i>
                    <h2>Admin Panel</h2>
                    <p>Upload and manage knowledge base.</p>
                </a>
                <a href="/chat" class="card">
                    <i class="fa fa-comments"></i>
                    <h2>Chat Assistance</h2>
                    <p>Ask questions in Bangla/English.</p>
                </a>
            </div>
        </main>
        <footer>
            <p>&copy; 2025 10 Minute School | AI Engineer Assessment</p>
        </footer>
    </div>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</body>
</html>